.closeIcon {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 30px;
  height: 30px;
  z-index: 200;
  /* padding: 10px; */
  border-radius: 50%;
  border: 0;
  /* background: #ffffff; */
  color: var(--text-color-main);
  background-color: var(--background-color-main);
  transition: transform 0.25s ease-in-out;
  -webkit-transition: transform 0.25s ease-in-out;
  -moz-transition: transform 0.25s ease-in-out;
  -o-transition: transform 0.25s ease-in-out;
  -ms-transition: transform 0.25s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 1200px) {
  .closeIcon:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.5);
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}
